@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&family=Poppins:wght@200;300&display=swap");
* {
  margin: 0;
  padding: 1px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
h1 {text-align: center;}
    p {text-align: center;}
    body {
background-color:beige;
}
.body{
  background-color:red;
}
.container {
  --light-color:;
  height: 420px;
  width: 350px;
  background: var(--light-color);
  position: fixed;
  bottom: 50px;
  right: 10px;
  box-shadow: 0px 0px 15px 0px black;
}
.chat-header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px -1px;
  background-color:lightblue;
  color: var(--light-color);
  font-size: large;
}

.chat-header .logo {
  height: 35px;
  width: 35px;
  box-shadow: 0px 0px 10px 0px black;
}
.chat-header img {
  height: 130%;
  width: 173%;
}
.send img{
  height:0%;
  width:114%;
}
.chat-header .title {
  padding-left: 40px;
}
.chat-body {
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 8px 10px;
  align-items: flex-end;
  overflow-y: auto;
  background-color: white;
}
.chat-input {
  height: 60px;
  display: flex;
  align-items: center;
  border-top: 1px solid white;
}
.input-sec {
  flex: 9;
}
.send {
  flex: 1;
  padding-right: 4px;
}
#txtInput {
  line-height: 30px;
  padding: 8px 10px;
  border: none;
  outline: none;
  caret-color: black;
  font-size: 1rem;
  width: 100%;
}

.chatbot-message,
.user-message {
  padding: 8px;
  background: grey;
  margin: 5px;
  width: max-content;
  border-radius: 10px 3px 10px 10px;
}
.chatbot-message {
  background: beige;
  color: var(--light-color);
  align-self: flex-start;
  border-radius: 10px 10px 3px 10px;
}
title.Leadbot{
  font-size: large;
}
